<div class="main" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group form-group-sm ">
            <label>Elastic URL</label>
            <input type="string" class="form-control input-sm" id="urlElastic" [(ngModel)]="urlElastic"
                   value="">
            <label>Cluster Name</label>
            <input type="string" class="form-control input-sm" id="clusterName" [(ngModel)]="clusterName"
                   value="">
            <label>Index</label>
            <input type="string" class="form-control input-sm" id="indexName" [(ngModel)]="indexName"
                   value="">
            <button *ngIf="showGrid" class="btn btn-sm" (click)="copyToClipboard()">
              Copy to clipboard
            </button>
            <textarea *ngIf="showGrid" rows="2" cols="150" class="js-copytextarea" [(ngModel)]="urlCopied"></textarea>
          </div>
          <div class="form-group form-group-sm">
            Max log entries
            <input type="number" class="form-control input-sm" id="max_results" value="50" [(ngModel)]="maxResults">
          </div>
          <div class="col-md-14">
            <label>Range</label>
            <div>
              <input type="radio" name="typeSearch" value="false" (click)="setUseTail(false)" checked="checked">By Date
              <div class="form-group form-group-sm ">
                From
                <input #from type="datetime-local" class="form-control input-sm" id="form" placeholder="Yesterday"
                       novalidate="true"
                       [value]="getDefaultFromValue()"
                       step=1>
              </div>
              <div class="form-group form-group-sm">
                To
                <input #to type="datetime-local" class="form-control input-sm" id="to" placeholder="Now"
                       novalidate="true"
                       [value]="getDefaultToValue()" step=1>
              </div>
            </div>
            <div>
              <input type="radio" name="typeSearch" value="true" (click)="setUseTail(true)">By Tail
            </div>
          </div>

          <div class="col-md-14">
            <label>Fields</label>
            <div class="form-group form-group-sm">
              Message
              <input #messageCmp class="form-control input-sm" id="message" value="" [(ngModel)]="message"
                     placeholder="Search on message">
            </div>
            <div class="form-group form-group-sm">
              Loggers
              <input #loggersCmp class="form-control input-sm" id="loggers" value="" [(ngModel)]="loggers"
                     placeholder="Search on loggers">
            </div>
            <div class="form-group form-group-sm">
              Hosts
              <input #hostsCmp class="form-control input-sm" id="hosts" value="" [(ngModel)]="hosts"
                     placeholder="Search on hosts">
            </div>
            <div class="form-group form-group-sm">
              Thread
              <input class="form-control input-sm" id="thread" value="" [(ngModel)]="thread"
                     placeholder="Search on thread">
            </div>
          </div>
          <div class="col-md-14">
            <label>Type</label>
            <input #test type="checkbox" class="form-control input-sm" [(ngModel)]="testType"
                   (change)="testType = test.checked"> test
            <input #cluster type="checkbox" class="form-control input-sm" [(ngModel)]="clusterType"
                   (change)="clusterType = cluster.checked"
                   checked> cluster
            <input #kms type="checkbox" class="form-control input-sm" [(ngModel)]="kmsType"
                   (change)="kmsType = kms.checked" checked> kms
          </div>
          <div class="col-md-14">
            <label>Level</label>
            <input #debug class="form-control input-sm" type="checkbox" [(ngModel)]="debugLevel"
                   (change)="debugLevel = debug.checked"
                   checked> DEBUG
            <input #info type="checkbox" class="form-control input-sm" [(ngModel)]="infoLevel"
                   (change)="infoLevel = info.checked" checked> INFO
            <input #warn type="checkbox" class="form-control input-sm" [(ngModel)]="warnLevel"
                   (change)="warnLevel = warn.checked" checked> WARN
            <input #error type="checkbox" class="form-control input-sm" [(ngModel)]="errorLevel"
                   (change)="errorLevel = error.checked" checked> ERROR
          </div>
          <button (click)="search(from.value, to.value, false)" class="btn btn-default">Get Data
          </button>
          <button *ngIf="showLoadMore" (click)="search(from.value, to.value, true)" class="btn btn-default">Load More
          </button>
          <input *ngIf="showPauseTail" #tail type="checkbox" class="form-control input-sm"
                 (change)="tailSearch(!tail.checked)"> <label *ngIf="showPauseTail">Pause Tail</label>
        </form>
      </div>
      <sd-grid [rowData]="rowData" [waiting]="waiting" [showGrid]="showGrid"></sd-grid>
      <div *ngIf="showError" class="alert alert-danger">
        {{errorMsg}}
      </div>
    </div>
  </div>
</div>
