<div class="container-fluid">
  <div class="gridDiv">
    <div *ngIf="waiting" class="loader">
    </div>
    <div *ngIf="showGrid">
      <div class="row">
        <div class="col-md-2" *ngIf="!onlyTable">
          <div>
            <div>
              Scroll Lock <input #scroll type="checkbox" [(ngModel)]="scrollLock"
                                 (change)="scrollLock = scroll.checked" checked>
            </div>
            <div class="form-group">
              Filter results:
              <label>Log entries {{rowCount}} </label>
              <input (keyup)="onQuickFilterChanged($event)" class="form-control input-sm" type="text"
                     id="quickFilterInput"
                     placeholder="Type text to filter..."/>
            </div>
          </div>
          Search in the results:
          <button *ngIf="(!pattern1Show || !pattern2Show || !pattern3Show || !pattern4Show || !pattern5Show)"
                  (click)="addPattern()" class="btn btn-default">Add pattern
          </button>
          <form class="form-inline">
            <div class="col-md-14">
              <div [style.display]="pattern1Show ?'':'none'" class="form-group form-group-sm patternDiv">
                <input #messageCmp class="form-control input-sm" id="pattern1" value="" [(ngModel)]="pattern1"
                       placeholder="Search on message">
                <label class="patternFound">Found {{pattern1Found}}</label>
                <button (click)="removePattern(1)" class="close buttonClose" aria-label="close">&times;</button>
                <div class="col-md-12 buttonPatternDiv">
                  <input #pattern1Color type="color" name="favcolor" value="#ff0000" id="pattern1Color">
                  <button
                    (click)="prev(1)" class="btn btn-default btn-sm">Prev
                  </button>
                  <button
                    (click)="next(1)" class="btn btn-default btn-sm">Next
                  </button>

                </div>
              </div>
              <div [style.display]="pattern2Show ?'':'none'" class="form-group form-group-sm patternDiv">
                <input #messageCmp class="form-control input-sm" id="pattern2" value="" [(ngModel)]="pattern2"
                       placeholder="Search on message">
                <label class="patternFound">Found {{pattern2Found}}</label>
                <button (click)="removePattern(2)" type="button" class="close buttonClose">&times;</button>
                <div class="col-md-12 buttonPatternDiv">

                  <input #pattern2Color type="color" name="favcolor" value="#008CAC" id="pattern2Color">
                  <button
                    (click)="prev(2)" class="btn btn-default  btn-sm">Prev
                  </button>
                  <button
                    (click)="next(2)" class="btn btn-default  btn-sm">Next
                  </button>

                </div>
              </div>
              <div [style.display]="pattern3Show ?'':'none'" class="form-group form-group-sm patternDiv">
                <input #messageCmp class="form-control input-sm" id="pattern3" value="" [(ngModel)]="pattern3"
                       placeholder="Search on message">
                <label class="patternFound">Found {{pattern3Found}}</label>
                <button (click)="removePattern(3)" type="button" class="close buttonClose">&times;</button>

                <div class="col-md-12 buttonPatternDiv">
                  <input #pattern3Color type="color" name="favcolor" value="#0000ff" id="pattern3Color">
                  <button
                    (click)="prev(3)" class="btn btn-default btn-sm">Prev
                  </button>
                  <button
                    (click)="next(3)" class="btn btn-default btn-sm">Next
                  </button>

                </div>
              </div>
              <div [style.display]="pattern4Show ?'':'none'" class="form-group form-group-sm patternDiv">
                <input #messageCmp class="form-control input-sm" id="pattern4" value="" [(ngModel)]="pattern4"
                       placeholder="Search on message">
                <label class="patternFound">Found {{pattern4Found}}</label>
                <button (click)="removePattern(4)" type="button" class="close buttonClose">&times;</button>

                <div class="col-md-12 buttonPatternDiv">
                  <input #pattern4Color type="color" name="favcolor" value="#ff00ff" id="pattern4Color">
                  <button
                    (click)="prev(4)" class="btn btn-default btn-sm">Prev
                  </button>
                  <button
                    (click)="next(4)" class="btn btn-default btn-sm">Next
                  </button>
                </div>
              </div>
              <div [style.display]="pattern5Show ?'':'none'" class="form-group form-group-sm patternDiv">
                <input #messageCmp class="form-control input-sm" id="pattern5" value="" [(ngModel)]="pattern5"
                       placeholder="Search on message">
                <label class="patternFound">Found {{pattern5Found}}</label>
                <button (click)="removePattern(5)" type="button" class="close buttonClose">&times;</button>
                <div class="col-md-12 buttonPatternDiv">
                  <input #pattern5Color type="color" name="favcolor" value="#00963B" id="pattern5Color">
                  <button
                    (click)="prev(5)" class="btn btn-default btn-sm">Prev
                  </button>
                  <button
                    (click)="next(5)" class="btn btn-default btn-sm">Next
                  </button>

                </div>
              </div>
              <div
                [style.display]="(pattern1Show || pattern2Show || pattern3Show || pattern4Show || pattern5Show) ?'':'none'"
                class="col-md-12 buttonPatternDiv">
                <div class="form-group form-group-sm">
                  <button
                    (click)="searchByPatterns(pattern1Color.value, pattern2Color.value, pattern3Color.value, pattern4Color.value, pattern5Color.value)"
                    class="btn btn-default">Search
                  </button>
                  <button (click)="clearPatterns()" class="btn btn-default">Clear
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="modalMessage != ''" class="panel panel-primary popupModalWindow">
          <div class="panel-heading">
            <button (click)="closeModal()" type="button" class="close buttonCloseModal">&times;</button>
            <h4 class="panel-title">Row</h4>
          </div>
          <div class="panel-body">
            <pre>{{modalMessage}}</pre>
          </div>
        </div>
        <div class="col-md-10" (window:resize)="onResize($event)">
          <ag-grid-ng2 style="width: 100%;" [style.height]="gridHeight" class="ag-fresh resizable" id="gridNg2"

                       [gridOptions]="gridOptions"
                       [columnDefs]="columnDefs"
                       [showToolPanel]="showToolPanel"
                       [rowData]="rowData"

                       enableColResize
                       enableSorting
                       enableFilter
                       groupHeaders
                       suppressRowClickSelection
                       toolPanelSuppressGroups
                       toolPanelSuppressValues
                       rowSelection="single"
                       enableCellExpressions=true

                       (modelUpdated)="onModelUpdated()"
                       (cellClicked)="onCellClicked($event)"
                       (cellDoubleClicked)="onCellDoubleClicked($event)"
                       (cellContextMenu)="onCellContextMenu($event)"
                       (cellValueChanged)="onCellValueChanged($event)"
                       (cellFocused)="onCellFocused($event)"
                       (rowSelected)="onRowSelected($event)"
                       (selectionChanged)="onSelectionChanged()"
                       (beforeFilterChanged)="onBeforeFilterChanged()"
                       (afterFilterChanged)="onAfterFilterChanged()"
                       (filterModified)="onFilterModified()"
                       (beforeSortChanged)="onBeforeSortChanged()"
                       (afterSortChanged)="onAfterSortChanged()"
                       (virtualRowRemoved)="onVirtualRowRemoved($event)"
                       (rowClicked)="onRowClicked($event)"
                       (ready)="onReady($event)"

                       (columnEverythingChanged)="onColumnEvent($event)"
                       (columnRowGroupChanged)="onColumnEvent($event)"
                       (columnValueChanged)="onColumnEvent($event)"
                       (columnMoved)="onColumnEvent($event)"
                       (columnVisible)="onColumnEvent($event)"
                       (columnGroupOpened)="onColumnEvent($event)"
                       (columnResized)="onColumnEvent($event)"
                       (columnPinnedCountChanged)="onColumnEvent($event)">
          </ag-grid-ng2>
        </div>
      </div>
    </div>
  </div>
</div>
