<div class="main">
  <div class="container-fluid main">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <label>Range</label>
          <div class="form-group">
            From
            <input #from type="datetime-local" class="form-control input-sm" id="form" placeholder="Yesterday"
                   novalidate="true"
                   [value]="getDefaultFromValue()"
                   step=1>
          </div>

          <div class="form-group">
            To
            <input #to type="datetime-local" class="form-control input-sm" id="to" placeholder="Now" novalidate="true"
                   [value]="getDefaultToValue()" step=1>
          </div>

          <div>
            <label>Fields</label>
            <div class="form-group">
              Search in all fields
              <input #simpleSearch class="form-control input-sm" id="simpleSearch" value=""
                     placeholder="Search in all fields">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Tail<input #tailCheckbox type="checkbox" class="form-control input-sm"
                         (change)="tailSearch(tailCheckbox.checked)">
            </div>
          </div>

          <button (click)="search(from.value, to.value, simpleSearch.value)" class="btn btn-default">Search</button>
        </form>
      </div>
      <sd-grid [rowData]="rowData" [waiting]="waiting" [showGrid]="showGrid"></sd-grid>
    </div>
  </div>
</div>
